
h1{
font-family: Georgia, 'Times New Roman', Times, serif;
color: aliceblue;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: navy;
}

p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.resumeheader{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}


footer{
    background-color: darkolivegreen;
    color: white;
}

a:visited {
    background-color: transparent;
    text-decoration:none
  }

iframe{
    text-align: center;
}

body{
    align-content: center;
}

.personalimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
